<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.namuwiki.posts.mapper.CommentMapper">


    <!--댓글 등록 쿼리-->
    <insert id="insertComment" parameterType="com.green.namuwiki.posts.dto.CommentRequestDTO">
        INSERT INTO COMMENTS (
            POST_ID
            , MEM_EMAIL
            , CONTENT
        ) VALUES (
            #{postId}
            , #{memEmail}
            , #{content}
        )
    </insert>



    <!--게시글별 댓글 목록 조회 쿼리-->
    <select id="selectComment" resultType="com.green.namuwiki.posts.dto.CommentResponseDTO">
        SELECT
            C.ID AS id
            , C.POST_ID AS postId
            , C.MEM_EMAIL AS memEmail
            , M.MEM_NICKNAME AS memNickname
            , C.CONTENT AS content
            , C.CREATED_AT AS createdAt
            , C.UPDATED_AT AS updatedAt
            , M.MEM_PROFILE_IMG AS memProfileImg
            , NULL AS postTitle
            , NULL AS postWriterNickname
        FROM
            COMMENTS C
        LEFT JOIN
            MEM_INFO M ON C.MEM_EMAIL = M.MEM_EMAIL
        WHERE
            C.POST_ID = #{postId}
        ORDER BY
            C.CREATED_AT ASC
    </select>

    <!--댓글 수정 뭐리-->
    <update id="updateComment" parameterType="com.green.namuwiki.posts.dto.CommentRequestDTO">
        UPDATE
            COMMENTS
        SET
            CONTENT = #{content}
            , UPDATED_AT = NOW()
        WHERE
            ID = #{id}
    </update>

    <!--댓글 삭제 쿼리-->
    <delete id="deleteComment">
        DELETE FROM
            COMMENTS
        WHERE
            ID = #{id}
    </delete>


    <!--내가 작성한 댓글 조회 쿼리-->
    <select id="findByMemEmail" resultType="com.green.namuwiki.posts.dto.CommentResponseDTO">
        SELECT
            C.ID AS id
            , C.POST_ID AS postId
            , C.MEM_EMAIL AS memEmail
            , MI.MEM_NICKNAME AS memNickname
            , C.CONTENT AS content
            , C.CREATED_AT AS createdAt
            , C.UPDATED_AT AS updatedAt
            , MI.MEM_PROFILE_IMG AS memProfileImg
            , P.TITLE AS postTitle
            , PI.MEM_NICKNAME AS postWriterNickname
        FROM
            COMMENTS C
        LEFT JOIN
            MEM_INFO MI
        ON
            C.MEM_EMAIL = MI.MEM_EMAIL
        LEFT JOIN
            POSTS P
        ON
            C.POST_ID = P.ID
        LEFT JOIN
            MEM_INFO PI
        ON
            P.MEM_EMAIL = PI.MEM_EMAIL
        WHERE
            C.MEM_EMAIL = #{memEmail}
        ORDER BY
            (SELECT
                MAX(CREATED_AT)
            FROM
                COMMENTS
            WHERE
                POST_ID = C.POST_ID
                AND
                MEM_EMAIL = #{memEmail}) DESC
                , C.CREATED_AT DESC
    </select>


</mapper>