<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.namuwiki.posts.mapper.PostMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO POSTS (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <select id="findById" resultType="com.green.namuwiki.posts.dto.PostResponseDTO">
        SELECT id, title, content, created_at, updated_at
        FROM POSTS
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.green.namuwiki.posts.dto.PostResponseDTO">
        SELECT id, title, content, created_at, updated_at
        FROM POSTS
        ORDER BY updated_at DESC
    </select>

    <!--상세보기에서 게시글 삭제 쿼리-->
    <delete id="deleteDetail">
        DELETE FROM
        POSTS
        WHERE
        ID = #{id}
    </delete>

    <!--상세보기에서 게시글 수정 쿼리-->
    <update id="updatePost" parameterType="com.green.namuwiki.posts.dto.PostRequestDTO">
        UPDATE
        POSTS
        SET
        TITLE = #{title}
        , CONTENT = #{content}
        , UPDATED_AT = NOW()
        WHERE
        ID = #{id}

    </update>


</mapper>